<!DOCTYPE html>
<html>
<head>
    <title> ARAP </title>
    <link rel = "stylesheet" href = "static/stylesheets/style.css">
    <script src = "static/javascripts/jquery.js"></script>
    <script src = "static/javascripts/viewer.js"></script>
    <script src = "static/javascripts/dicomParser.js"></script>
    <script src = "static/javascripts/dataDictionary.js"></script>
</head>
<body>
    <div class = "container" id = "titleContainer">
        <div>
            <h1 class = "Mytitle"> Automated Risk Assessment of Prostate Lesions(Prototype)</h1>
        </div>
    </div>

    <div class = "container" id="ToolsAndActions">
        <div class = "sub" id = "actionDiv">
            <button class="tools" id = "openInfo">Instructions</button>
            <button class="tools" id = "openUpload">Align, View, Segment Dicoms</button>
            <button class="tools" id = "sortDicoms">Sort Dicoms</button>
            <button class="actions" id = "downloadFiles" onclick = "window.location.href='/downloadFiles'">Download Aligned DICOMS</button>
            <button class="actions" id = "deleteFiles" onclick = "window.location.href='/deleteFiles'"> Delete Uploaded Files </button>
        </div>

        <div class = "userInfo_container">
            <ul class = "userInfo">
                <li id = "username"> {{username}}: </li>
                <li> <a href="/logout" style = "color: black"> Logout </a> </li>
                <li> <a href="/deleteAccount" style = "color: red"> Delete Account </a></li>
            </ul>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class = "container" id="flashBox">
            {% with category,message = messages[0] %}
                    <p class="{{ category }}">{{ message }}</p>
            {% endwith %}
            </div>
        {% endif %}
    {% endwith %}

    <div class = "container" id="InformationTab">
        <h3>
            Organizing your files
        </h3>

        <p>
            Under the "Sort Dicoms" tab, use the "choose files" button to mark the directory on your computer containing dicom files.
            When ready, use the "upload" button to send them to our server.
            Our sorting algorythm will sort the files into folders based on series type, and then return the sorted files to your browser in a zip folder.
            All of these files are deleted from our server once this process is completed.

        <h3>
            Uploading your files
        </h3>

        <p>
            For each MRI series (adc, hihgb, and t2) click on 'choose files'.
            Navigate to the folder containing the respective MRI series and open it.
            Once you are finished selecting the appropriate folders for each MRI series, click on 'upload'.
            Note: the upload button will delete any image files you have previously uploaded to make room for the new files.
            Once your files are uploaded, they will be anonymized, aligned, and presented back on the web browser for you to scroll through.
        </p>

        <h3>
            Creating your markup
        </h3>

        <p>
            On the center display which contains the t2 series, use your curser to click around the perimeter of a possible lesions.
            If you make a mistake, click on the 'redo markup' button to reset the markup on the current slice level.
            Continue this process on all slices that contain evidence of a possible lesion.
            Once you have finished, click on the 'submit markup' button.
            Our machine learning model will use your markup to generate an estimated PIRADs score for the MRI series.
        </p>

        <h3>
            Deleting personal information
        </h3>

        <p>
            All images saved on the server are either anonymized automatically, or deleted soon after upload.
            To delete all image files from your account click on the 'delete files' button.
            To delete your account enirely click on the 'Delete account' tag on the top right of your screen.
        </p>
    </div>

    <div class = "container" id = "uploadForm">
        <form id = "file-catcher" action="/Homepage" method="POST" enctype="multipart/form-data">
            <div class ="Myform">
                Choose Dicom files for Upload. Then select:
                <button id = "uploadBtn" type="submit" name="submit" > UPLOAD</button>
                <br/><br/>
                adc formatted images:
                <input id = "adc" type="file"  name="adc" multiple = "" webkitdirectory="" directory=""/>
                <br/><br/>

                HighB formatted images:
                <input id = "HighB" type="file"  name="highb" multiple = "" webkitdirectory="" directory=""/>
                <br/><br/>

                T2 formatted images:
                <input id = "T2" type="file" name="t2" multiple = "" webkitdirectory="" directory=""/>
            </div>
        </form>
    </div>

    <div class = "container" id = "sortDicomsTab">
        <form action="/sortDicoms" method="POST" enctype="multipart/form-data">
            <div class ="Myform">
                Choose the files you want sorted, then click 'upload':
                <button id = "uploadFiles" type="submit" name="submit" > UPLOAD</button>
                <br/><br/>
                Files to be sorted:
                <input id = "filesToSort" type="file"  name="filesToSort" multiple = "" webkitdirectory="" directory=""/>
            </div>
        </form>
    </div>

    <div class = "container" id = "viewPort">
        <div class = "gridBox">
            <div class = "box" id = "adcbox">
                <div class = "window" id = div1>
                    <canvas class = "canvas" id="canvas1" ></canvas>
                </div>
            </div>
            <div class = "box" id = "highbbox">
                <div class = "window" id = div2>
                    <canvas class = "canvas" id="canvas2" ></canvas>
                </div>
            </div>
            <div class = "box" id = t2box>
                <div class = "window" id = div3>
                    <canvas class = "canvas" id="canvas3" ></canvas>
                </div>
            </div>
            <div class = "imageOutof">
                    <p class = "label" id = "label1">This is where image information is appended</p>
            </div>
            <div class = "imageOutof">
                    <p class = "label" id = "label2">This is where image information is appended</p>
                    <div class="loader" id = "loading" style = "display: none"></div>
            </div>
            <div class = "imageOutof">
                    <p class = "label" id = "label3">This is where image information is appended</p>
            </div>
            <div class = "toolbar">
                <button class = "switch" id = "previous">&laquo Previous</button>
                <button class = "editor" id = "clearMU" > redo markup </button>
                <button class = "editor" id = "submitMU" > submit markup </button>
                <button class = "switch" id = "next">Next &raquo</button>
            </div>
        </div>

    </div>
</body>
</html>
